* {
  margin: 0;
  padding: 0;
}

:root {
  --main-yellow: #F4CE14;
  --main-green: #495E57;
  --secondary-gray: #EDEFEE;
  --secondary-black: #333333;
}

h1 {
  display: block;
  color: var(--main-yellow);
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  border: 1px solid red;
  width: fit-content;
  height: fit-content;
  line-height: 0.65;
}

h2 {
  display: block;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  border: 1px solid red;
  width: fit-content;
  line-height: 0.65;
}

p {
  max-width: 65ch;
}

nav {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  min-height: 123px;
  gap: 72px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--secondary-black);
}

header {
  display: flex;
  background-color: var(--main-green);
  min-height: 406px;
  color: var(--secondary-gray);
}

header div {
  width: 50%;
}

header h1, header h2 {
  margin: 0;
}

main {
  display: flex;
  background-color: #ffffff;
  min-height: 406px;
}

footer {
  display: flex;
  background-color: var(--main-green);
  min-height: 417px;
}

ul {
  list-style: none;
}

@media screen and (max-width: 400px) {
    nav ul, nav, footer {
      flex-direction: column;
    }
}