* {
  margin: 0;
  padding: 0;
}

:root {
  --main-yellow: #F4CE14;
  --main-green: #495E57;
  --secondary-gray: #EDEFEE;
  --secondary-black: #333333;
  --secondary-pink: #FBDABB;
  --secondary-orange: #EE9972;
}

h1, h2, h3, h4 {
  display: block;
  width: fit-content;
  height: fit-content;
}

h1, h2 {
  color: var(--main-yellow);
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 64pt;
  line-height: 0.65;
}

h3 {
  color: var(--secondary-black);
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
  line-height: 0.65;
}

h4 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 18pt;
  margin-bottom: 1rem;
}

p {
  color: var(--secondary-black);
  max-width: 65ch;
  line-height: 1.5;
}

.section-title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 20pt;
}

.section-category {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 16pt;
}

.card-title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 18pt;
}

.lead-text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
}

.price {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-size: 16pt;
}

header {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  background-color: var(--main-green);
  color: var(--secondary-gray);
  padding: 2rem 0;
  overflow: visible;
}

header h1, header h2 {
  margin: 0;
}

header p {
  color: var(--secondary-gray);
  margin-top: 2rem;
  max-width: 60%;
}

article {
  width: 100%;
  padding: 5rem 0;
}

.main-div {
  width: 60%;
  display: flex;
  margin: auto;
  border: 1px solid red;
}

.vertical-div {
  flex-direction: column;
}

header .main-div div {
  border: 1px solid red;
  max-width: 50%;
}

.hero-image {
  display: block;
  margin-left: auto;
}

header img {
  display: block;
  border-radius: 16px;
  position: relative;
  margin-bottom: -250px;
}

.button-normal, .button-large {
  display: flex;
  text-decoration: none;
  background-color: var(--main-yellow);
  color: var(--secondary-black);
  border: none;
  border-radius: 16px;
  padding: 0.7rem 2rem;
  width: fit-content;
  transition-duration: 0.3s;
  align-items: center;
}

.button-normal:hover, .button-large:hover {
  background-color: var(--secondary-orange);
  cursor: pointer;
}

nav {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  min-height: 123px;
  gap: 72px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--secondary-black);
}

nav a:hover {
  color: var(--secondary-orange);
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

main p {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  margin-top: 2rem;

}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-gray);
  width: 25%;
  height: 100%;
  border: 1px solid red;
  border-radius: 16px;
}

.card-img-container {
  width: 100%;
  height: 40%;
}

.card-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-desc {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 100%;
}

.card span {
  display: block;
  margin-left: auto;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--main-green);
  min-height: 417px;
  padding: 4rem 0;
}

footer div {
  display: block;
  border: 1px solid red;
  padding: 1rem;
  color: var(--secondary-gray);
}

footer ul {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
}

footer a {
  color: var(--secondary-gray);
  text-decoration: none;
}

footer a:hover {
  color: var(--secondary-orange);
}

ul {
  list-style: none;
}

@media screen and (max-width: 400px) {
    nav ul, nav, footer {
      flex-direction: column;
    }

    header img {
      display: none;
    }

    .main-div {
      width: 95%;
    }

    header p {
      max-width: 100%;
    }

    .button-large, .button-normal {
      display: block;
      margin: auto;
    }

    nav ul {
      display: none;
    }

    .card {
      width: 100%;
    }
}